<% if(setting.templateSetting.show_category_bar){%>
  <% if(setting.templateSetting.category_bar_number === 1){%>
      <div class="category-bar">
          <% for(var i=0; i < categoryRender.length; i++) { %>
              <a href="#<%- categoryRender[i].replace(/ /g, '-') %>" class="faq-category-title faq-category-link" style="color: <%=  setting.templateSetting.category_bar_color %>"><%- categoryRender[i] %></a>
          <% } %>
      </div>
  <% } %>
  <% if(setting.templateSetting.category_bar_number === 2){%>
      <div class="category-bar">
          <% for(var i=0; i < categoryRender.length; i++) { %>
              <a href="#<%- categoryRender[i].replace(/ /g, '-') %>" class="faq-category-title faq-category-link-2" style="color: <%=  setting.templateSetting.category_bar_color %>"><%- categoryRender[i] %></a>
          <% } %>
      </div>
  <% } %>
<% } %>