<div style="margin:1.8em auto;max-width:900px;">
    <div style="text-align: center">
        <% if(faqs['settingData'].page_title_content) { %>
            <%= faqs['settingData'].page_title_content %>
        <% } %>
    </div>

    <div>
        <input type="text" <% if(faqs['settingData'].search_placehoder) {%> placeholder="<%= faqs['settingData'].search_placehoder %>" <%}%> name="search">
        <button type="submit"></button>
    </div>
    <% if(faqs['faqData'].length){ %>
       <div>
       <% for(var i=0; i < faqs['faqData'].length; i++) { %>
           <%if (faqs['faqData'][i].is_visible) { %>
               <% for(var j=0; j < faqs['cateData'].length; j++) { %>
                    <% if (faqs['faqData'][i].category_identify === faqs['cateData'][j].identify) {%>
                        <% if (faqs['cateData'][j].is_visible) { %>
                            <div onclick="showHideContent(this)"><span><%= faqs['faqData'][i].title %></span><%= faqs['cateData'][j].identify %></div>
                            <div style="display: none"><%= faqs['faqData'][i].content %></div>
                        <% } %>
                    <% } %>
               <% } %>
           <% } %>
       <% } %>
       </div>
    <% } else { %>
       <h1>have no faq</h1>
     <% } %>
</div>
<script>
    var str = `<%=faqs['settingData'].search_placehoder%>`;
    function showHideContent(el) {
        var content = el.nextElementSibling;
        console.log(content)
        if (content.stype.display === "block") {
            content.stype.display = "none";
        } else {
            content.stype.display = "block";
        }
    }
</script>
<style>

</style>