<div style="margin:1.8em auto;max-width:900px;">
    <div style="text-align: center">
    Setting content !
        <% if(faqs['settingData']) { %>
            <%= faqs['settingData'].search_placehoder %>
        <% } %>
    </div>

    <div>
        <% if(faqs['settingData']) { %>
            <input type="text" placeholder="<%= faqs['settingData'].search_placehoder %>" name="search">
        <% } %>
        <button type="submit"></button>
    </div>
    <% if(faqs['faqData'].length){ %>
       <div>
       <% for(var i=0; i < faqs['faqData'].length; i++) { %>
           <%if (faqs['faqData'][i].is_visible) { %>
               <% for(var j=0; j < faqs['cateData'].length; j++) { %>
                    <% if (faqs['faqData'][i].category_identify === faqs['cateData'][j].identify) {%>
                        <% if (faqs['cateData'][j].is_visible) { %>
                            <div><span><%= faqs['faqData'][i].title %></span><%= faqs['cateData'][j].identify %></div>
                            <div style="display: none"><%= faqs['faqData'][i].content %></div>
                        <% } %>
                    <% } %>
               <% } %>
           <% } %>
       <% } %>
       </div>
    <% } else { %>
       <h1>have no faq</h1>
     <% } %>
</div>
<script>

</script>
<style>

</style>