<div style="margin:1.8em auto;max-width:900px;">
    <div style="text-align: center">
        <% if(setting.data.page_title_content) { %>
            <%- setting.data.page_title_content %>
        <% } %>
    </div>
    <div>
        <input type="text" <% if(setting.data.search_placehoder) {%> placeholder="<%= setting.data.search_placehoder %>" <%}%> name="search">
    </div>
    <div>
        <% if(setting.data.show_intro_text) {%>
            <% if(setting.data.intro_text_content) {%>
                <%- setting.data.intro_text_content %>
            <% } %>
        <% } %>
    </div>
    <% if(faqs.length){ %>
        <div style="margin-bottom: 12px;">
            <% for(var i=0; i < faqs.length; i++) { %>
                <div class="faq-question-title" style="width: 100%;font-weight: bold;cursor: pointer; padding: 1em;" onclick="showHideContent(this)">
                    <span><%= faqs[i].title %></span>
                    <span class="faq-category-title" style="float:right;"><%- faqs[i].category_title %></span>
                    <hr style="margin: 0;">
                </div>
                <div class="faq-answer-content" style="display: none"><%- faqs[i].content %></div>
            <% } %>
        </div>
    <% } %>
    <div>
        <% if(setting.data.show_footer_text) {%>
            <% if(setting.data.footer_text_content) {%>
                <%- setting.data.footer_text_content %>
            <% } %>
        <% } %>
    </div>
</div>
<script>
    function showHideContent(el) {
        var content = el.nextElementSibling;
        if (content.style.display === "block") {
            content.style.display = "none";
        } else {
            content.style.display = "block";
        }
    }
</script>