<div class="root-faq-template">
    <div class="faq-header-1">
        <div>
            <% if(setting.data.page_title_content && setting.data.show_page_title) { %>
                <h1 class="faq-page-title"><%- setting.data.page_title_content %></h1>
            <% } %>
            <% if(setting.data.show_page_title && setting.data.page_title_content){%>
                <div class="faq-search-input">
                    <input class="search-input" id="search-text" onkeyup="simpleSearch()" type="text" <% if(setting.data.search_placehoder) {%> placeholder="<%= setting.data.search_placehoder %>" <%}%> name="search">
                </div>
            <%}
            else{%>
                <div class="faq-search-input" style="margin-top: 70px;">
                    <input class="search-input" id="search-text" onkeyup="simpleSearch()" type="text" <% if(setting.data.search_placehoder) {%> placeholder="<%= setting.data.search_placehoder %>" <%}%> name="search">
                </div>
            <%} %>
        </div>
        <div>
            <% if(setting.data.show_intro_text && setting.data.intro_text_content) {%>
                <div class="faq-intro-text">
                    <span><%- setting.data.intro_text_content %></span>
                </div>
            <% } %>    
        </div>
    </div>
    <div class="faq-main">
        <% if(faqs && !setting.data.dont_category_faq){ %>
            <div class="faq-main-container-1">
                <div class="">
                    <% if(faqs.categories.length){%>
                        <div class="category-bar">
                            <% for(var i=0; i < faqs.categories.length; i++) { %>
                                <a href="#<%- faqs.categories[i].title %>" class="faq-category-title faq-category-link"><%- faqs.categories[i].title %></a>
                            <% } %>
                        </div>
                        <div class="category-faq-main-1">
                            <% for(var i=0; i < faqs.categories.length; i++) { %>
                                <div class="category-faq-container">
                                    <div id="<%- faqs.categories[i].title %>" class="faq-category-width">
                                        <div class="faq-category-title">
                                            <span class=" faq-category-border"><%- faqs.categories[i].title %></span>
                                        </div>
                                    </div>
                                    <% for(var j=0; j < faqs.faq.length; j++) { %>
                                        <% if(faqs.faq[j].category_identify === faqs.categories[i].identify) {%>
                                            <div class="faq-main-content">
                                                <div class="faq-question-title">
                                                    <span class="listed-faq faq-question-search"><%= faqs.faq[j].title %></span>
                                                </div>
                                                <div class="faq-answer-content faq-answer-search">
                                                    <%- faqs.faq[j].content %>
                                                </div>
                                            </div>
                                        <% } %>
                                    <%}%>
                                </div>
                            <% } %>
                        </div>
                    <% } %>
                </div>
            </div>
        <% }
        else{ %>
            <div class="faq-dont-category">
                <% for(var j=0; j < faqs.faq.length; j++) { %>
                    <div class="faq-main-content">
                        <div class="faq-question-title">
                            <span class="listed-faq faq-question-search"><%= faqs.faq[j].title %></span>
                        </div>
                        <div class="faq-answer-content faq-answer-search">
                            <%- faqs.faq[j].content %>
                        </div>
                    </div>
                <%}%>
            </div>
        <% } %>
        <div id="not-found-text" class="faq-not-found">
            <% if(setting.data.search_not_found) {%>
                <%- setting.data.search_not_found %>
            <% } %>
        </div>
        <% if(setting.data.show_footer_text) {%>
            <div class="faq-footer-text">
                <% if(setting.data.footer_text_content) {%>
                    <%- setting.data.footer_text_content %>
                <% } %>
            </div>
        <% } %>
    </div>
</div>
<script>
    function simpleSearch() {
        var input = document.getElementById("search-text");
        var filter = input.value.toLowerCase();
        var filterByQuestion = document.getElementsByClassName('faq-question-search');
        var filterByAnswer = document.getElementsByClassName('faq-answer-search');
        var categoryList = document.getElementsByClassName('faq-category-width')
        var nodeCategory = document.getElementsByClassName('category-faq-container');
        var categoryBar = document.getElementsByClassName('category-bar')
        if(categoryBar.length > 0){
            if(document.getElementById('search-text').value === ''){
                categoryBar[0].style.display = "flex"
                for(i = 0; i < categoryList.length; i++){
                    categoryList[i].style.display = "block"
                }
            }
            else{
                categoryBar[0].style.display = "none"
                for(i = 0; i < categoryList.length; i++){
                    categoryList[i].style.display = "none"
                }
            }
        }
        var checkexist = true;
        for (i = 0; i < filterByQuestion.length; i++) {
            if (filterByQuestion[i].innerText.toLowerCase().includes(filter)) {
                filterByQuestion[i].parentNode.parentNode.style.display = "block";
                checkexist = false;
            }
            else {
                for(j = 0; j < filterByAnswer.length; j++){
                    if(filterByAnswer[j].innerText.toLowerCase().includes(filter)){
                        filterByQuestion[j].parentNode.parentNode.style.display = "block";
                        checkexist = false;        
                    }
                    else{
                        filterByQuestion[i].parentNode.parentNode.style.display = "none";
                    }
                }
            }
        }
        for (j = 0; j < nodeCategory.length; j++) {
            let subFaq = nodeCategory[j].getElementsByClassName('faq-main-content');
            let checkDisplay = false;
            for (k = 0; k < subFaq.length; k++) {
                if(subFaq[k].style.display == "block") {
                    checkDisplay = true;
                    break;
                }
            }
            if (checkDisplay) {
                nodeCategory[j].style.display = "block";
            } else nodeCategory[j].style.display = "none";
        }
        if (checkexist) {
            document.getElementById("not-found-text").style.display = "block";
        } else {
            document.getElementById("not-found-text").style.display = "none";
        }
    }

</script>
<style>
    <% if(setting.templateSetting.width_faqs_accordian) { %>
    .faq-main {
        padding: 0 20px;
        max-width: <%- setting.templateSetting.width_faqs_accordian%>px;
        margin: auto;
    }
    <% } %>
    <% if (setting.data) { %>
        .faq-question-title {
            padding-top: 8px;
            <% if (setting.templateSetting.faq_font_weight) { %>
                font-weight: <%=  setting.templateSetting.faq_font_weight %>;
            <% } if (setting.templateSetting.faq_font_color) { %>
                color: <%=  setting.templateSetting.faq_font_color %>;
            <% } if (setting.templateSetting.faq_bg_color) { %>
                font-size: <%=  setting.templateSetting.faq_font_size %>px;
            <% } if (setting.templateSetting.faq_font_family) { %>
                font-family: <%=  setting.templateSetting.faq_font_family %>;
            <% } %>
        }
        .faq-answer-content {
            display: flex; 
            align-items: center; 
            width: 100%; 
            word-wrap: break-word;
            border-radius: 4px 4px 0 0;
            <% if (setting.templateSetting.answer_font_weight) { %>
                font-weight: <%=  setting.templateSetting.answer_font_weight %>;
            <% } if (setting.templateSetting.answer_font_color) { %>
                color: <%=  setting.templateSetting.answer_font_color %>;
            <% } if (setting.templateSetting.answer_font_family) { %>
                font-family: <%=  setting.templateSetting.answer_font_family %>;
            <% } %>
        }
    <% } %>
    .faq-header-1 {
        display: flex; 
        flex-direction: column; 
        justify-content: space-between;
        min-height: <%- setting.templateSetting.banner_height%>px;
        max-width: 100vw;
        <% if (setting.templateSetting.image_banner) { %>
            background-image: url('<%- setting.templateSetting.image_banner%>');
        <% }
        else {%> 
            background-image: url('<%- setting.templateSetting.banner_default%>');
            <%} 
        %>;
        background-repeat: no-repeat;
        background-size: cover;
        background-position-y: center;
        text-align: center; 
    }
    .faq-page-title{
        <% if (setting.templateSetting.image_banner || setting.templateSetting.banner_default) { %>
            color: #fff;
        <% }
        else {%> 
            color: inherit;
            <%} 
        %>; 
        margin:0; 
        padding: 20px 0; 
        font-weight: 600;
    }
    .faq-search-input{
        width: 60% !important;
        margin: auto;
        padding: 0;
        overflow: hidden;
    }
    .faq-main-content{
        margin-bottom: 16px;
    }
    .faq-main-container-1{
        margin: 30px 0;
    }
    .search-input{
        width: 100% !important; 
        max-width: 100% !important;
        padding: 16px; 
        border-radius: 4px; 
        outline: none; 
        border: 1px solid #ccc; 
        font-size: 1.6rem;
        margin: 0 !important;
    }
    .faq-intro-text{
        text-align: center; 
        padding: 10px 0; 
        <% if (setting.templateSetting.image_banner || setting.templateSetting.banner_default) { %>
            color: #fff;
        <% }
        else {%> 
            color: inherit;
            <%} 
        %>; 
        font-size: 18px;
    }
    .faq-dont-category{
        margin-top: 30px;
    }
    .category-faq-main-1{
        padding-top: 20px
    }
    .category-bar{
        display: flex; 
        justify-content: center; 
        flex-wrap: wrap;
        margin-bottom: 20px;
        <% if (setting.templateSetting.faq_font_family) { %>
            font-family: <%=  setting.templateSetting.faq_font_family %>;
        <% } %>    
    }
    .category-faq-container{
        margin-bottom: 20px;
    }
    .faq-category-width{
        padding-bottom: 10px;
        width: 100%;
    }
    .faq-not-found{
        display: none; 
        text-align: center; 
        font-size: 3rem;
    }
    .faq-category-link{
        padding: 4px 8px; 
        margin:6px; 
        border: 1px solid #ccc; 
        border-radius: 4px; 
        text-decoration: none; 
        font-size: 16px !important;
        font-weight: normal;
    }
    .listed-faq{
        width: 100%;
        user-select: none;
        word-wrap: break-word;
    }
    .faq-category-border{
        border-bottom: 1px solid #ccc;
    }
    .faq-footer-text{
        text-align: center; 
        padding: 10px 0; 
        font-size: 18px;
    }
    @media only screen and (max-width: 700px) {
        .faq-search-input{
            width: 95% !important;
            margin: auto;
            padding: 0;
            overflow: hidden;
        }
    }
    <%
        if(setting.templateSetting.custom_css) { %>
            <%- setting.templateSetting.custom_css%>
            <%= setting.templateSetting.custom_css%>
        <%}
    %>
</style>